/* Style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #F2F2F2;
}
/* 123123123.css */
header nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2rem;
}

.container {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input, select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  border: 1px solid #333;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

